@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-slate-50, #f8fafc);
    color: var(--color-slate-800, #1e293b);
    -webkit-font-smoothing: antialiased;
    font-family: 'Noto Sans', 'Noto Sans Devanagari', sans-serif !important;
  }
}